.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
}
.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}
.dndflow aside>* {
    margin-bottom: 10px;
    cursor: grab;
}
.dndflow aside .description {
    margin-bottom: 10px;
}
.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}
@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }
    .dndflow aside {
        width: 20%;
        max-width: 180px;
    }
}
.menu.hide{
    display: none;
}
.menu.show{
    height: 1.25rem;
}
.op{
    position: absolute;
    left:77px;
    top: 34px;
    
}
.butt{
    border:1px solid white;
    margin-left: 8px;
    margin-top: 60px;
    border-radius: 5px;
    padding:2px;
}
.butt:hover{
    opacity:85% ;
    border:1px;
}
.B.show{
    display: none;  
}
.B2.show{
    display: none;
}
.B{
    position: relative;
}
.h-40 {
    height: 9rem;
}
.butt2{
    border:1px solid white;
    border-radius: 5px;
    padding:2.5px;
    margin-top: 79px;
    margin-left:104px;
}
.butt2:hover{
    opacity:85% ;
    border:1px;
}
.B2{
    position:absolute;
}
